<h1>Editer Info Sur Session</h1>

<%= render 'form', sessionencour: @sessionencour %>

<div class="form-control">
    <%= link_to 'Show', @sessionencour %> |
    <%= link_to 'Back', sessionencours_path %>
</div>
